.app-container {
    padding: 50px;
    height: 100%;
    width: 100%;
}

.search-box {

}

.movies-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 90%;
    width: 100%;
}


.movie-item {
    flex: 1;
    margin: 20px 20px;
    width: 400px;
}